# Data Science Tools and Ecosystem

*In this notebook, Data Science tools and Ecosystems are Summarized*

#### <b>Objectives</b>
<ul>
    <li>List of some popular Languages</li>
    <li>List  of some popular libraries</li>
    <li>list of some popular tools</li>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>

Some of the commonly used libraries used by Data Scientist include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Tensorflow</li>
<li>Keras</li>

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Tensor flow</td>
</tr>
<tr>
<td>Apache Spark</td>
</tr>
<tr>
<td>Tableau</td>
</tr>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
x=(3*4)+5
print(x)

17

### code to convert minutes to hours

In [13]:
minutes=240
hours=minutes/60
print(hours)

4.0

## Author
Dimple Varma Konduru